@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-size: 20px; */
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin-top: auto;
    padding: 2.5rem;
    border: 1px solid black;
}

.form-input-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.input-wrapper {
    margin: 0 2.5rem 0 0;
}

.input-wrapper:nth-child(3) {
    margin-right: 6rem;
}


.input-wrapper input {
    font-size: 32px;
    padding: .25em .25em .25em .5em;
    max-width: 5em;
    outline: none;
    border: 1px solid hsl(0, 1%, 44%);
    border-radius: .25em;
}

.input-wrapper input:focus,
.input-wrapper input:hover {
    border: 1px solid hsl(259, 100%, 65%);
}

.input-wrapper input,
.input-wrapper input::-webkit-inner-spin-button,
.input-wrapper input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
    margin: 0;
}


.submit-area-wrapper {
    margin : 1rem 0;

}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
}

.btn-wrapper button {
    cursor: pointer;
    width: 75px;
    height: 75px;
    border-radius : 50%;
    border: none;
    background-image: url("/assets/images/icon-arrow.svg");
    background-color: hsl(259, 100%, 65%);
    background-position: center center;
    background-repeat: no-repeat;
    transition: background-color 0.2s ease-out;

}

.btn-wrapper button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    height: 1px;
    background-color: hsl(0, 1%, 44%);
    width: 100%; /* Membentang ke kiri dari button */
    transform: translateY(-50%);
    z-index: -1
}

.btn-wrapper button:hover {
    background-color: hsl(0, 0%, 8%);
}



footer {
    margin-top: auto;
    border: 1px solid black;
}

.text-output {
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
}

.text-output.show{
    color: hsl(259, 100%, 65%);
}
