@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: hsl(0, 0%, 94%);
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: hsl(0, 0%, 100%);
    border : 1px solid black;
    border-radius: 2rem 2rem 4rem 2rem;
    padding: .25rem;
    max-width: 1500px;
}

.wrapper {
    padding: 2rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
     margin: 0 .5rem 0 .5rem;
}
label input {
    font-size: 32px;
    max-width: 6em;
    padding: .5em;
}





